extends layout

block content
  .well
    h2.title Biography

    p Esoterik is a three piece band located in Oklahoma City that formed in early 2013.

    .row
      .col-xs-12
    img.thumbnail.pull-left(src='/images/bio/group.jpg')
    p If you enjoy synthpop (a genre of music that first became prominent in the 1980s)
      | with dark undertones then you will be pleasantly surprised to hear Esoterik's
      | upcoming debut 10 track album “Enlightenment,” which is scheduled to be released
      | on January 1, 2014.  Esoterik consists of three creationists on a mission to support
      | and honor the gothic subculture while writing a chapter of their own.
      | Traditional parameters of New Wave, Post-Punk, Dark Wave and SynthPop are all easily
      | identifiable in every composition.
    .row
      .col-xs-12
        img.thumbnail.pull-right(src='/images/bio/allison.jpg')
        p Allison Eckfeldt. Other than being on vocals she wrote the lyrics for a lot of the songs within the new album "Enlightenment". She also did the cover artwork and photography for the Album.
          | Allison is actively involved in a number of endeavors to help keep the Gothic subculture alive and providing inspiration for anyone who cares to listen. Most notably to mention would be her youtube channel “kazlovesbats” With over 23,000 subscribers.
    .row
      .col-xs-12
        img.thumbnail.pull-left(src='/images/bio/brady.jpg')
        p Brady Bledsoe pictured to the left composed and Produced all the songs in Esoterik's Debut album "Enlightenment".
          | He preforms on Vocals, electric guitar, keys and synth.
          | Brady also wrote the lyrics to a great deal of the songs within "Enlightenment".
    .row
      .col-xs-12
        img.pull-right(src='/images/bio/austin.jpg')
        p Austin Unts Unts is pictured to the right. He preforms on Keys and Synth.
            | Within the Esoterik debut album "Enlightenment" He contributed to a great deal of songs with highly catchy keyboard lines, vocals and lyrical ideas.

