extends layout

block content
  h2.title Biography

  p Esoterik is a three piece band located in Oklahoma City that formed in early 2013.

  .row
    .col-xs-12
      img.thumbnail.pull-left(src='/images/bio/group.jpg')
      p Esoterik is a Dark wave Synth driven band located in Oklahoma City.
      | The band was formed in 2013 by Allison Eckfeldt (vocals),
      | Brady Bledsoe (Electric Guitar, Bass, Electronic Drums, Keyboards,
      | vocals and synthesizers) and Austin Unts Unts ( keyboards and synthesizers).
      | They combine 80's Synthpop, and Dark Wave with Electronic Dance.
  .row
    .col-xs-12
      img.thumbnail.pull-right(src='/images/bio/allison.jpg')
      p Allison Eckfeldt. Other than being on vocals she wrote the lyrics for a lot of the songs within the new album "Enlightenment". She also did the cover artwork and photography for the Album.
        | Allison is actively involved in a number of endeavors to help keep the Gothic subculture alive and providing inspiration for anyone who cares to listen. Most notably to mention would be her youtube channel “kazlovesbats” With over 23,000 subscribers.
  .row
    .col-xs-12
      img.thumbnail.pull-left(src='/images/bio/brady.jpg')
      p Brady Bledsoe pictured to the left composed and Produced all the songs in Esoterik's Debut album "Enlightenment".
        | He preforms on Vocals, electric guitar, keys and synth.
        | Brady also wrote the lyrics to a great deal of the songs within "Enlightenment".
  .row
    .col-xs-12
      img.pull-right(src='/images/bio/austin.jpg')
      p Austin Unts Unts is pictured to the right. He preforms on Keys and Synth.
          | Within the Esoterik debut album "Enlightenment" He contributed to a great deal of songs with highly catchy keyboard lines, vocals and lyrical ideas.

