extends layout

block content
  .well
    h2.title Discography
    .row
      .col-xs-4
        .thumbnail
          img(src='/images/discography/enlightenment-large.jpg')
          .caption.text-center
            .title Enlightenment
            div Label Records &copy; 2013
            a(href='http://www.amazon.com/Enlightenment-Esoterik/dp/B00HG05HYG/ref=sr_1_1?ie=UTF8&qid=1388535855&sr=8-1&keywords=esoterik+enlightenment') Purchase
