// put logo before heading
h1 Esoterik

.navbar.navbar-default(role='navigation')
  ul.nav.navbar-nav
    li.active
      a(href='/') Home
    li
      a(href='/live') Live
    li
      a(href='/discography') Discography
    li
      a(href='/bio') Bio
    li
      a(href='/photos') Photos
    li
      a(href='/videos') Videos
    li
      a(href='/press') Press
    li
      a(href='/contact') Contact
