// put logo before heading
h1 Esoterik

.navbar.navbar-default(role='navigation')
  ul.nav.navbar-nav
    li.active
      a(href='#') Home
    li
      a(href='#about') Live
    li
      a(href='#contact') Discography
    li
      a(href='#contact') Bio
    li
      a(href='#contact') Photos
    li
      a(href='#contact') Videos
    li
      a(href='#contact') Press
    li
      a(href='#contact') Contact
