extends layout

block content
  //#slider.nivoSlider
  //  a(href='#')
  //    img(src='http://www.themes.red-sun-design.com/soundboard/wp-content/uploads/2012/06/catslide_02.jpg', alt='', title='Get the new single on iTunes')
  //  .nivo-caption(style='opacity: 0.85; cursor: pointer;')
  //    p(style='display: inline-block;') Out In Stores Now!
  .well
    .row
      .col-sm-8
        h2.title News

        .headline
          .headline-title SB at the 2012 Reading and Leeds Festivals
          .headline-subtitle December 13, 2013
          .headline-body
            | Lorem Ipsum is simply dummy text of the printing and
            | typesetting industry. Lorem Ipsum has been the industry's
            | standard dummy text ever since the 1500s, when an unknown
            | printer took a galley of type and scrambled it to make a type
            | specimen book. It has survived not only five centuries,
            | but also the leap into electronic typesetting.

        .headline
          .headline-title SB at the 2012 Reading and Leeds Festivals
          .headline-subtitle December 13, 2013
          .headline-body
            | Lorem Ipsum is simply dummy text of the printing and
            | typesetting industry. Lorem Ipsum has been the industry's
            | standard dummy text ever since the 1500s, when an unknown
            | printer took a galley of type and scrambled it to make a type
            | specimen book. It has survived not only five centuries,
            | but also the leap into electronic typesetting.

        .headline
          .headline-title SB at the 2012 Reading and Leeds Festivals
          .headline-subtitle December 13, 2013
          .headline-body
            | Lorem Ipsum is simply dummy text of the printing and
            | typesetting industry. Lorem Ipsum has been the industry's
            | standard dummy text ever since the 1500s, when an unknown
            | printer took a galley of type and scrambled it to make a type
            | specimen book. It has survived not only five centuries,
            | but also the leap into electronic typesetting.
      .col-sm-4
        h2.title Upcoming Events
        ul.list-unstyled
          li.event
            .event-date
              .event-day 14
              .event-month Sep
            .event-info
              .event-city Los Angeles, CA
              .event-venue LA Music Hall
              .event-url
                a.btn.btn-primary(href='#') Details
          li.event
            .event-date
              .event-day 29
              .event-month Oct
            .event-info
              .event-city Austin, TX
              .event-venue Elysium
              .event-url
                a.btn.btn-primary(href='#') Details
        h2.title Audio Player


        img.audio-cover(src='/images/enlightenment.png')
        .widget-audio-title
          | Esoterik
        .widget-audio-title
          | Enlightenment
        ul.widget-audio-meta
          li January 1, 2014
        br
        audio(preload='preload')
        ol.playlist
          li
            a(href='#', data-src='http://kolber.github.io/audiojs/demos/mp3/01-dead-wrong-intro.mp3') dead wrong intro
          li
            a(href='#', data-src='http://kolber.github.io/audiojs/demos/mp3/02-juicy-r.mp3') juicy-r
          li
            a(href='#', data-src='http://kolber.github.io/audiojs/demos/mp3/03-its-all-about-the-crystalizabeths.mp3') it's all about the crystalizabeths
          li
            a(href='#', data-src='http://kolber.github.io/audiojs/demos/mp3/04-islands-is-the-limit.mp3') islands is the limit
          li
            a(href='#', data-src='http://kolber.github.io/audiojs/demos/mp3/05-one-more-chance-for-a-heart-to-skip-a-beat.mp3') one more chance for a heart to skip a beat
          li
            a(href='#', data-src='http://kolber.github.io/audiojs/demos/mp3/06-suicidal-fantasy.mp3') suicidal fantasy
          li
            a(href='#', data-src='http://kolber.github.io/audiojs/demos/mp3/07-everyday-shelter.mp3') everyday shelter
          li
            a(href='#', data-src='http://kolber.github.io/audiojs/demos/mp3/08-basic-hypnosis.mp3') basic hypnosis
          li
            a(href='#', data-src='http://kolber.github.io/audiojs/demos/mp3/09-infinite-victory.mp3') infinite victory
          li
            a(href='#', data-src='http://kolber.github.io/audiojs/demos/mp3/10-the-curious-incident-of-big-poppa-in-the-nighttime.mp3') the curious incident of big poppa in the nighttime
          li
            a(href='#', data-src='http://kolber.github.io/audiojs/demos/mp3/11-mo-stars-mo-problems.mp3') mo stars mo problems
