extends layout

block content
  #slider.nivoSlider
    img(src='/images/banner-out-in-stores.jpg')
    .nivo-caption(style='opacity: 0.85;')
      .subtitle.text-black Enlightenement
      p(style='display: inline-block;') Out In Stores Now!
  .well
    .row
      .col-sm-8
        h2.title News
        .headline
          .headline-title SB at the 2012 Reading and Leeds Festivals
          .headline-subtitle December 13, 2013
          .headline-body
            | Lorem Ipsum is simply dummy text of the printing and
            | typesetting industry. Lorem Ipsum has been the industry's
            | standard dummy text ever since the 1500s, when an unknown
            | printer took a galley of type and scrambled it to make a type
            | specimen book. It has survived not only five centuries,
            | but also the leap into electronic typesetting.

        .headline
          .headline-title SB at the 2012 Reading and Leeds Festivals
          .headline-subtitle December 13, 2013
          .headline-body
            | Lorem Ipsum is simply dummy text of the printing and
            | typesetting industry. Lorem Ipsum has been the industry's
            | standard dummy text ever since the 1500s, when an unknown
            | printer took a galley of type and scrambled it to make a type
            | specimen book. It has survived not only five centuries,
            | but also the leap into electronic typesetting.

        .headline
          .headline-title SB at the 2012 Reading and Leeds Festivals
          .headline-subtitle December 13, 2013
          .headline-body
            | Lorem Ipsum is simply dummy text of the printing and
            | typesetting industry. Lorem Ipsum has been the industry's
            | standard dummy text ever since the 1500s, when an unknown
            | printer took a galley of type and scrambled it to make a type
            | specimen book. It has survived not only five centuries,
            | but also the leap into electronic typesetting.
      .col-sm-4.col-fixed-250
        h2.title Upcoming Events
        ul.list-unstyled
          li.event
            .event-date
              .event-day 14
              .event-month Sep
            .event-info
              .event-city Los Angeles, CA
              .event-venue LA Music Hall
              .event-url
                a.btn.btn-primary(href='#') Details
          li.event
            .event-date
              .event-day 29
              .event-month Oct
            .event-info
              .event-city Austin, TX
              .event-venue Elysium
              .event-url
                a.btn.btn-primary(href='#') Details
        br
        h2.title Audio Player
        .audio-meta.clearfix
          img.audio-cover(src='/images/discography/enlightenment-small.jpg')
          .audio-title Enlightenment
          .text-muted January 1, 2014
        audio(preload='preload')
        ol.playlist
          li
            a(href='#', data-src='/music/Mantra_Eviction.mp3') Mantra Eviction
          li
            a(href='#', data-src='/music/Purgatory.mp3') Purgatory
          li
            a(href='#', data-src='/music/Flesh_and_Devine.mp3') Flesh and Devine
  script.
    $(function() {
        // Setup the player to autoplay the next track
        var a = audiojs.createAll({
          trackEnded: function() {
            var next = $('ol li.playing').next();
            if (!next.length) next = $('ol li').first();
            next.addClass('playing').siblings().removeClass('playing');
            audio.load($('a', next).attr('data-src'));
            audio.play();
          }
        });

        // Load in the first track
        var audio = a[0];
            first = $('ol a').attr('data-src');
        $('ol li').first().addClass('playing');
        audio.load(first);

        // Load in a track on click
        $('ol li').click(function(e) {
          e.preventDefault();
          $(this).addClass('playing').siblings().removeClass('playing');
          audio.load($('a', this).attr('data-src'));
          audio.play();
        });
      });