extends layout

block content
  .row
    .col-sm-9
      .well
        h2.title News

        .headline
          .headline-title SB at the 2012 Reading and Leeds Festivals
          .headline-subtitle December 13, 2013
          .headline-body
            | Lorem Ipsum is simply dummy text of the printing and
            | typesetting industry. Lorem Ipsum has been the industry's
            | standard dummy text ever since the 1500s, when an unknown
            | printer took a galley of type and scrambled it to make a type
            | specimen book. It has survived not only five centuries,
            | but also the leap into electronic typesetting.

        .headline
          .headline-title SB at the 2012 Reading and Leeds Festivals
          .headline-subtitle December 13, 2013
          .headline-body
            | Lorem Ipsum is simply dummy text of the printing and
            | typesetting industry. Lorem Ipsum has been the industry's
            | standard dummy text ever since the 1500s, when an unknown
            | printer took a galley of type and scrambled it to make a type
            | specimen book. It has survived not only five centuries,
            | but also the leap into electronic typesetting.

        .headline
          .headline-title SB at the 2012 Reading and Leeds Festivals
          .headline-subtitle December 13, 2013
          .headline-body
            | Lorem Ipsum is simply dummy text of the printing and
            | typesetting industry. Lorem Ipsum has been the industry's
            | standard dummy text ever since the 1500s, when an unknown
            | printer took a galley of type and scrambled it to make a type
            | specimen book. It has survived not only five centuries,
            | but also the leap into electronic typesetting.
    .col-sm-3
      .well
        p Sidebar