extends layout

block content
  #slider.nivoSlider
    img(src='/images/banner-out-in-stores.jpg')
    .nivo-caption(style='opacity: 0.85;')
      .subtitle.text-black Enlightenment
      p(style='display: inline-block;') Out In Stores Now
  .row
    .col-sm-8.col-xs-12
      h2.title News
      .headline
        .headline-title No news yet
        .headline-subtitle December 31, 2013
        .headline-body
          | Check back soon!
    .col-sm-4.col-xs-12
      .row
        .col-sm-12.col-xs-6
          h2.title Events
          ul.list-unstyled
            li.event
              .event-date
                .event-day 10
                .event-month Jan
              .event-info
                .event-city Oklahoma City, OK
                .event-venue The Conservatory
                .event-url
                  a.btn.btn-primary(href='http://www.ticketstorm.com/event/theesoterikcdreleaseshow/theconservatory/oklahomacity/12278/') Details
            li.event
              .event-date
                .event-day 04
                .event-month Mar
              .event-info
                .event-city Oklahoma City, OK
                .event-venue Leon's Lounge
                .event-url
                  a.btn.btn-default(href='#') Details
        .col-sm-12.col-xs-6
          h2.title Audio Player
          .audio-meta.clearfix
            img.audio-cover(src='/images/discography/enlightenment-small.jpg')
            .audio-title Enlightenment
            .text-muted January 1, 2014
          audio(preload='preload')
          ol.playlist
            li
              a(href='#', data-src='/music/Mantra_Eviction.mp3') Mantra Eviction
            li
              a(href='#', data-src='/music/Purgatory.mp3') Purgatory
            li
              a(href='#', data-src='/music/Flesh_and_Devine.mp3') Flesh and Devine
  script.
    $(function() {
        // Setup the player to autoplay the next track
        var a = audiojs.createAll({
          trackEnded: function() {
            var next = $('ol li.playing').next();
            if (!next.length) next = $('ol li').first();
            next.addClass('playing').siblings().removeClass('playing');
            audio.load($('a', next).attr('data-src'));
            audio.play();
          }
        });

        // Load in the first track
        var audio = a[0];
            first = $('ol a').attr('data-src');
        $('ol li').first().addClass('playing');
        audio.load(first);

        // Load in a track on click
        $('ol li').click(function(e) {
          e.preventDefault();
          $(this).addClass('playing').siblings().removeClass('playing');
          audio.load($('a', this).attr('data-src'));
          audio.play();
        });
      });