extends layout

block content
  #slider.nivoSlider
    a(href='#')
      img(src='http://www.themes.red-sun-design.com/soundboard/wp-content/uploads/2012/06/catslide_02.jpg', alt='', title='Get the new single on iTunes')
    .nivo-caption(style='opacity: 0.85; cursor: pointer;')
      p(style='display: inline-block;') Out In Stores Now!
  .well
    .row
      .col-sm-8
        h2.title News

        .headline
          .headline-title SB at the 2012 Reading and Leeds Festivals
          .headline-subtitle December 13, 2013
          .headline-body
            | Lorem Ipsum is simply dummy text of the printing and
            | typesetting industry. Lorem Ipsum has been the industry's
            | standard dummy text ever since the 1500s, when an unknown
            | printer took a galley of type and scrambled it to make a type
            | specimen book. It has survived not only five centuries,
            | but also the leap into electronic typesetting.

        .headline
          .headline-title SB at the 2012 Reading and Leeds Festivals
          .headline-subtitle December 13, 2013
          .headline-body
            | Lorem Ipsum is simply dummy text of the printing and
            | typesetting industry. Lorem Ipsum has been the industry's
            | standard dummy text ever since the 1500s, when an unknown
            | printer took a galley of type and scrambled it to make a type
            | specimen book. It has survived not only five centuries,
            | but also the leap into electronic typesetting.

        .headline
          .headline-title SB at the 2012 Reading and Leeds Festivals
          .headline-subtitle December 13, 2013
          .headline-body
            | Lorem Ipsum is simply dummy text of the printing and
            | typesetting industry. Lorem Ipsum has been the industry's
            | standard dummy text ever since the 1500s, when an unknown
            | printer took a galley of type and scrambled it to make a type
            | specimen book. It has survived not only five centuries,
            | but also the leap into electronic typesetting.
      .col-sm-4
        h2.title Upcoming Events
        ul.list-unstyled
          li.event
            .event-date
              .event-day 14
              .event-month Sep
            .event-info
              .event-city Los Angeles, CA
              .event-venue LA Music Hall
              .event-url
                a.btn.btn-primary(href='#') Details
          li.event
            .event-date
              .event-day 29
              .event-month Oct
            .event-info
              .event-city Austin, TX
              .event-venue Elysium
              .event-url
                a.btn.btn-primary(href='#') Details
