doctype 5
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='')
    meta(name='author', content='')
    title Esoterik - The Official Website
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Ruda:300,400,700')
    link(href='http://fonts.googleapis.com/css?family=Francois+One', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/non-responsive.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js')
body
  include header

  block content

  include footer

  script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
  script(src='/javascripts/bootstrap.js')
  script(src='http://stratus.sc/stratus.js')
  script.
    $(document).ready(function(){
      $.stratus({
        links: 'https://soundcloud.com/evanescence2011/sets/evanescence-album-preview',
        animate: 'fade',
        color: '00c5cd',
        theme: 'http://stratus.sc/themes/dark.css'
      });
    });

