extends layout

block content
  .well
    h2.title Live
    .row
      .col-xs-3
        .thumbnail
          a(href='/images/live/industrial-revolution-2.jpg')
            img(src='/images/live/industrial-revolution-2.jpg')
      .col-xs-3
        .thumbnail
          a(href='/images/live/conservatory.jpg')
            img(src='/images/live/conservatory.jpg')
      .col-xs-3
        .thumbnail
          a(href='/images/live/voodoo-lounge.jpg')
            img(src='/images/live/voodoo-lounge.jpg')
