extends layout

block content
    .row
      .col-sm-4
        a(href='/images/live/industrial-revolution-2.jpg')
          img.img-thumbnail(src='/images/live/industrial-revolution-2.jpg')
      .col-sm-4
        a(href='/images/live/conservatory.jpg')
          img.img-thumbnail(src='/images/live/conservatory.jpg')
      .col-sm-4
        a(href='/images/live/voodoo-lounge.jpg')
          img.img-thumbnail(src='/images/live/voodoo-lounge.jpg')
