extends layout

block content
  h2.title Photos
  iframe(scrolling='yes', marginheight='0', frameborder='0', width='731', style='overflow-y: scroll; overflow-x: hidden; height: 395px;', src='http://facebookgalleria.com/gallery1.php?id=esoterikmusic&exclude=&type=photos&rows=4&margin=10&cols=4&width=170&title_color=000000')
