extends layout

block content
  h2.title Photos
  h4 Voodoo Lounge with Kali Ra and The Choke
  h5.text-muted November 2, 2013
  .fotorama(data-nav='thumbs')
    a(href='/images/photos/voodoo/484786_419687114820134_642228349_n.jpg')
      img(src='/images/photos/voodoo/484786_419687114820134_642228349_n.jpg')
    a(href='/images/photos/voodoo/923019_419687168153462_1452296751_n.jpg')
      img(src='/images/photos/voodoo/923019_419687168153462_1452296751_n.jpg')
    a(href='/images/photos/voodoo/943358_419687161486796_2063294854_n.jpg')
      img(src='/images/photos/voodoo/943358_419687161486796_2063294854_n.jpg')
    a(href='/images/photos/voodoo/1385217_419687101486802_258087991_n.jpg')
      img(src='/images/photos/voodoo/1385217_419687101486802_258087991_n.jpg')
    a(href='/images/photos/voodoo/1385372_419687121486800_1916999001_n.jpg')
      img(src='/images/photos/voodoo/1385372_419687121486800_1916999001_n.jpg')
    a(href='/images/photos/voodoo/1393852_419721494816696_510452461_n.jpg')
      img(src='/images/photos/voodoo/1393852_419721494816696_510452461_n.jpg')
    a(href='/images/photos/voodoo/1393872_419721638150015_97489999_n.jpg')
      img(src='/images/photos/voodoo/1393872_419721638150015_97489999_n.jpg')
    a(href='/images/photos/voodoo/1395254_419687118153467_1021316825_n.jpg')
      img(src='/images/photos/voodoo/1395254_419687118153467_1021316825_n.jpg')
    a(href='/images/photos/voodoo/1422520_419687144820131_2082947703_n.jpg')
      img(src='/images/photos/voodoo/1422520_419687144820131_2082947703_n.jpg')
    a(href='/images/photos/voodoo/1424259_419687151486797_2040572816_n.jpg')
      img(src='/images/photos/voodoo/1424259_419687151486797_2040572816_n.jpg')
    a(href='/images/photos/voodoo/1424481_419725801482932_80094312_n.jpg')
      img(src='/images/photos/voodoo/1424481_419725801482932_80094312_n.jpg')
    a(href='/images/photos/voodoo/1426501_419687194820126_1208302362_n.jpg')
      img(src='/images/photos/voodoo/1426501_419687194820126_1208302362_n.jpg')
