turquoise = #00c5cd

body
  color: #fff
  background: url(../images/esoterik_bg.jpg) no-repeat fixed top center
  background-size: cover
  padding: 50px
  font-size: 14px
  font-family: "Helvetica Neue", Helvetica,Arial, sans-serif;
a
  color: turquoise

.navbar
  min-height: 40px
  border: 0
  box-shadow: -2px 2px 5px rgba(0,0,0,0.4);

.navbar-brand
  font-size: 12px
  text-transform: uppercase
  font-family: "Francois One" , "Helvetica Neue", Arial, sans-serif
  padding: 10px 15px

.navbar-inverse
  background-color: #000

.navbar-inverse .navbar-nav > li > a
  font-size: 12px
  padding-top: 10px
  padding-bottom: 10px
  line-height: 20px
  text-transform: uppercase
  font-family: "Francois One", "Helvetica Neue", Arial, sans-serif
  transition: all 0.25s ease-in-out
  &:hover
    background-color: turquoise

.navbar-inverse .navbar-nav > .active > a
  background-color: turquoise
  &:hover
    background-color: turquoise

.nivoSlider
  border: 20px solid #000
  margin-bottom: 20px
  position: relative
  background: url(images/loading.gif) no-repeat 50% 50%
  box-shadow: -2px 2px 5px rgba(0,0,0,0.4);

.nivoSlider img
  width: 100%

.nivoSlider a.nivo-imageLink
  position: absolute
  top: 0px
  left: 0px
  width: 100%
  height: 100%
  border: 0
  padding: 0
  margin: 0
  z-index: 6
  display: none

.nivo-caption
  position: absolute
  right: 0px
  bottom: 70px
  z-index: 8
  text-align: right

.nivo-caption p
  font-family: "Francois One" , "Helvetica Neue", Arial, "sans-serif"
  text-transform uppercase
  display: inline-block
  color: #fff
  font-size: 32px
  padding: 17px
  background-color: turquoise

.nivo-caption  a
  color: #fff !important
  display:inline !important


.nivo-caption a:hover
  color: #fff

.title
  color: turquoise
  margin-top: 0
  font-family: "Francois One" , "Helvetica Neue", Arial, sans-serif
  text-transform: uppercase

.well
  border: 0
  border-radius: 0
  background-color: #000;
  box-shadow: -2px 2px 5px rgba(0,0,0,0.4);

.headline
  margin-bottom: 20px

.headline-title
  font-family: "Francois One" , "Helvetica Neue", Arial, sans-serif
  text-transform: uppercase

.headline-subtitle
  margin: 5px 0 5px 0;
  font-size: 12px
  color: #777

.headline-body
  color: #aaa

// Upcoming events
.event
  margin-top: 20px

.event-date
  float: left
  width: 60px
  height: 60px

.event-day
  line-height: 1
  font-size: 40px
  position: relative;
  font-family: "Francois One" , "Helvetica Neue", Arial, sans-serif
  text-transform: uppercase

.event-month
  font-family: "Francois One" , "Helvetica Neue", Arial, sans-serif
  text-transform: uppercase
  font-size: 24px;
  line-height 1
  position: relative;

.event-city
  font-weight: bold

.event-venue
  color: #aaa

.event-info
  //
.event-url
  margin-top: 5px

.btn-primary
  font-family: "Francois One" , "Helvetica Neue", Arial, sans-serif
  text-transform: uppercase
  border: 0
  border-radius: 0
  background-color: turquoise
  transition: all 0.25s ease-in-out;
  &:hover {
    background-color: #808080
  }
