turquoise = #00c5cd

body
  color: #fff
  background: url(https://raw.github.com/subtlepatterns/SubtlePatterns/master/rubber_grip.png)
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: turquoise



.navbar
  min-height: 40px
  border: 0
  box-shadow: 0 1px 1px rgba(0,0,0,0.1)

.navbar-inverse .navbar-nav > li > a
  padding-top: 10px
  padding-bottom: 10px
  line-height: 20px
  text-transform: uppercase
  font-family: "Francois One" , "Helvetica Neue", Arial, sans-serif
  &:hover
    background-color: turquoise

.navbar-inverse .navbar-nav > .active > a
  background-color: turquoise